body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    padding: 16px 320px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: 0 auto 80px auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-links a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-bottom: 80px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 8px;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

button {
    background-color: #3882f6;
    color: #fff;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 8px;
}

.hero-text,
.hero-img {
    width: 500px;
}

.hero-img {
    background-color: #777;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-block: 50px;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.info-img {
    width: 160px;
    height: 160px;
    border: 3px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.info-subtext {
    width: 160px;
}